.country-container {
  width: 100%;
  height: 100%;
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;


}

.country-card {
  max-width: 20%;
  background-color: #ffff;
  margin: 2rem;
  margin-bottom: 4rem;
  cursor: pointer;
  text-decoration: none;
  box-shadow: 5px 5px 10px 0px #dfd5d5;
  color: var(--light-mode-text);
  border-radius: 10px;
}

.main-container.dark .country-card {
  background-color: var(--dark-blue-elements);
  color: #ffff;
  box-shadow: 5px 5px 10px 0px #1a1717;
}

.country-image {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  display: block;
  width: 100%;
  height: 50%;
}

.country-content {
  padding: 2rem;
}

.country-content p {
  margin-top: 1rem;
  font-weight: 600;
}

.country-content p span {
  font-weight: 300;
}